**/obj
**/bin
/.vs/ERP.Furacao/DesignTimeBuild/.dtbcache.v2
/.vs/ERP.Furacao/v17/.suo
/.vs/ERP.Furacao/v17/.futdcache.v1
/.vs/ERP.Furacao/project-colors.json
/.vs/ERP.Furacao/config/applicationhost.config
